

<% @blogs.each do |blog| %>
    <div class="blog">
      <div class="name">
    <%= link_to blog.name, blog %>
  </div>
    <div class="url"><%= link_to blog.url, blog.url, data: {no_turbolink: true} %></div>
  </div>
<% end %>
<%= will_paginate @blogs %>
