/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a{
   text-decoration: none;
   color: #000;
 }

 a:visited{
   color:#828282;
 }

 .article{
   background-color: #f6f6ef;
   width:80%;
   margin:auto;
   padding: 1%;
   padding-top:0.5%;
   padding-bottom: 0.5%;
 }

 .blog{
   background-color: #33fe40;
 }

 .title{
   font-family: Verdana,Geneva,sans-serif;
   font-size: 10pt;
 }

 .subtext{
   font-family: Verdana,Geneva,sans-serif;
   font-size: 7pt;
   color: #828282;
 }

 .name{
   font-family: Helvetica,Geneva,sans-serif;
   font-size: 13pt;
 }

 .url{
   font-family: Helvetica,Geneva,sans-serif;
   font-size: 8pt;
 }

.site{
  font-family: Verdana,Geneva,sans-serif;
  font-size: 8pt;
  color:#828282;
}

.site a{
  color: #828282;
}
